.mySwiper {
  margin: 0 6.25rem 2.5rem 6.25rem;
  height: 480px;

  img {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #ffba08;
  }

  .swiper-pagination-bullet {
    background: #999999;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #ffba08;
  }
}
